<!-- begin header -->
<header class="c-header">
  <div class="container">
    <div class="row">
      <div class="c-header-inner">

        <div class="logo">
          <a class="logo-link" href="{{ site.baseurl }}/">
          {%if site.data.navigation.logo_image %}
            <img class="logo-image" src="{{ site.baseurl }}{{ site.data.navigation.logo_image }}" alt="{{ site.data.general_settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav-box">

            <div class="nav-icon-close">
              <i class="ion ion-md-close"></i>
            </div>

            <div class="nav-title">Menu</div>
              <div class="nav-list">                
                <ul class="nav-list-ul list-reset">

                  {% for item in site.data.navigation.menu-settings.menu-items %}
                    {% if item.submenu %}
                    <li class="nav-item dropdown">
                      <span class="nav-link dropdown-toggle">{{ item.title }} <i class="ion ion-ios-arrow-down arrow-down"></i></span>
                      <div class="dropdown-menu">
                        {% for submenu-item in item.submenu %}
                          <a href="{{ submenu-item.url }}" class="nav-link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                        {% endfor %}
                      </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a href="{{ item.url | relative_url }}" class="nav-link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                  
                </ul>
                {% include language-dropdown.html tag="first-language" %}
              </div>
          </div>

          {% bookshop_include social-link show_sign_up=true%}     
          {% include language-dropdown.html tag="second-language" %}
        </nav>

        <div class="nav-button">
          <i class="nav-icon nav-icon-menu ion ion-md-menu"></i>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->