<div class="post-navigation animate">
  {% if page.previous.url %}
  <a class="post-prev" href="{{page.previous.url}}">
    <div class="prev-image">
      <img loading="lazy" src="{{site.baseurl}}{{page.previous.image}}" alt="{{ page.title }}">
    </div>
    <div class="prev-box">
      <span class="post-nav post-nav-prev">Prev post</span>
      <h2 class="post-nav-title">{{page.previous.title}}</h2>
    </div>
  </a>
  {% endif %}

  {% if page.next.url %}
  <a class="post-next" href="{{page.next.url}}">
    <div class="next-box">
      <span class="post-nav post-nav-next">Next post</span>
      <h2 class="post-nav-title">{{page.next.title}}</h2>
    </div>
    <div class="next-image">
      <img loading="lazy" src="{{site.baseurl}}{{page.next.image}}" alt="{{ page.title }}">
    </div>
  </a>
  {% endif %}
</div>