<div class="social">
  {% if site.data.social_links.social %}
  <ul class="social__list list-reset">
    {% for social in site.data.social_links.social %}
    <li class="social__item">
      <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener" aria-label="{{social.icon | downcase}} icon"><i class="ion ion-logo-{{social.icon | downcase}}"></i></a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if include.show_sign_up %}
    <a class="nav-signup" href="#newsletter">Sign up</a>
  {% endif %}
</div>