<!-- begin projects -->
<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner-inner animate">

          <div class="section-info">
            <div class="section-head">
              <h2 class="section-title">{{ include.title }}</h2>
              <a class="section-link" href="{{ include.link_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            <div class="section-description">{{ include.description_html }}</div>
          </div>

          {% if include.show_projects %}
          <div class="row">
            {% assign sorted = site.projects | reverse %}
            {% for project in sorted %}
              {% if forloop.index <= 6 %}
                {% bookshop project-card project=project %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end projects -->