/* Color Scheme */
$primary-color: #1495a7;
$secondary-color: #003687;
$white: #fff;
$off-white: #efebde;
$black: #000;
$dark: #110E38;
$gray: #d9d9d9;
$light-gray: #f5f5f5;
$blue-gray: #d5dce3;
$background: #121418;

$background-color: $background;
$background-color-alt: $black;

$text-color: $off-white;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;



/* Dark Mode Color Scheme */
$dark-primary-color: #1495a7;
$dark-secondary-color: #003687;
$dark-white: #fff;
$dark-dark: #110E38;
$dark-gray: #d9d9d9;
$dark-light-gray: #f5f5f5;
$dark-blue-gray: #333067;

$dark-background-color: $dark-dark;
$dark-background-color-alt: $dark-blue-gray;

$dark-text-color: $dark-white;

$dark-heading-font-color: $dark-text-color;

$dark-link-color: $dark-white;
$dark-link-color-hover: $dark-white;

$dark-button-color: $dark-background-color-alt;
$dark-button-background-color: $dark-primary-color;
$dark-button-background-hover: lighten($dark-primary-color, 5%);

$dark-border-color: $dark-blue-gray;

$dark-hr-color: $dark-text-color;
$dark-tr-color: #222;

$dark-syntax-highlighting-background: darken($dark-dark, 5%);

