/* Footer */
.footer {
  position: relative;
  margin-top: 44px;
  padding: 50px 50px 30px;
  overflow: hidden;
  background: linear-gradient(90deg, $primary-color 0%, $secondary-color 167%);
  .first-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .second-row{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: 2px solid $border-color;
    border-bottom: 0.4px solid $border-color;
  }
  .third-row{
    display: flex;
    justify-content: end;
  }
  .logo__image {
    display: none;
  }
  .logo__image__white {
    display: block;
  }
  .language-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    z-index: 1000;
  }
  .language-dropdown, .dropdown{
    color: $white;
  }
  .dropdown{
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    padding: 0.5rem;
    font-weight: 600;
    cursor: pointer;
  }

  .social{
    .social__link {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border-radius: 50%;
      color: $primary-color;
      background: $white;
      transition: all .25s;
      will-change: transform;
      background-color: transparent;
      color: $white;
      i{
        font-size: $font-size-h2;
      }

      &:hover {
        transform: scale(0.9);
        color: $primary-color;

        &::after {
          content: none;
        }
      }

      &::after {
        content: none;
      }
    }
  }
  .form{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-height: min-content;
    color: $white;
  }
  form{
    display: flex;
    position: relative;
    align-items: center;
  }
  input{
    border-radius: 0.4rem;
    padding: 0.4rem;
    margin: 0;
    border: 0;
    height: 2.2rem;
    min-width: 300px;
  }
  button{
    position: absolute;
    padding: 0.4rem 1rem;
    color: $white;
    background-color: $dark;
    border-radius: 0.4rem;
    font-size: 15px;
    font-weight: 600;
    right: 0.1rem;
    height: 2.1rem;
  }

  .form-social{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: end;
  }

  .footer_nav {
    text-align: center;

    .footer_nav__item {
      display: inline;
      margin: 0 24px;
      font-size: 0;
    }

    .footer_nav__link {
      font-size: 16px;
      font-weight: 600;
      color: $white;
    }
  }
  option{
    color: $dark
  }

  @media only screen and (max-width: $desktop) {
    padding: 80px 0 60px;
  }
  
  @media only screen and (max-width: $mobile) {
    padding: 1.4rem 0.6rem;
    margin-top: 30px;

      .form-social{
      align-items: start;
      gap: 0.2rem;
      margin: 10px 12px;
      }

     .footer_nav {
      display: flex;
      flex-direction: column;
      align-items: start;
      .footer_nav__item {
        margin: 0 12px;
      }
    }
    .second-row{
      flex-direction: column;
      align-items: start;
      
    }
    .first-row {
      margin-bottom: 1rem;
    }
    .second-row {
      padding: 0.5rem 0;
      border-top-width: 1px;
      border-bottom-width: 0.2px;
      margin-bottom: 1rem;
    }
    .third-row {
      justify-content: center;
    }
    .social {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    .social .social__link {
      margin: 0 0.5rem;
      i {
        font-size: $font-size-h3;
      }
    }
  }
  
}

.dark .footer{
  background: linear-gradient(90deg, $dark-primary-color 0%, $dark-secondary-color 167%);

  .footer_nav {
    .footer_nav__link {
      color: $dark; 
    }
  }
  .logo__image__white {
    display: none;
  }

  .logo__image {
    display: block;
  }

  .language-dropdown, .dropdown{
    color: $dark;
  }
  .dropdown{
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    padding: 0.5rem;
    font-weight: 600;
  }
  option{
    color: $white;
    background-color: $dark;
  }
  .second-row{
    border-top: 2px solid $dark-border-color;
    border-bottom: 0.4px solid $dark-border-color;
  }
  .social .social__link{
    background-color: transparent;
    color: $dark;
    &:hover {
      color: $dark-primary-color;
    }
    i{
      font-size: $font-size-h2;
    }
  }
  .form{
    color: $dark;
  }
}

/* Copyright */
.copyright {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $white;
  font-weight: 500;

  p {
    margin: 0;
  }

  a {
    color: $white 
  }

  @media only screen and (max-width: $mobile) {
    font-size: 14px;
  }
}

.dark .copyright {
  color: $dark; 
  a {
    color: $dark; 
  }
}

