{% assign c = "c-project-card" %}
<article class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}-content">
    <a href="{{ include.project.url }}" class="{{c}}-image">
      <img loading="lazy" src="{{ include.project.image }}" alt="{{ include.project.title }}">
    </a>
    <div class="{{c}}-info">
      <div class="{{c}}-info-wrap">
        <h3 class="{{c}}-title">{{ include.project.title }}</h3>
      </div>
      <div class="{{c}}-info-wrap">
        {% if include.project.subtitle %}
        <div class="{{c}}-subtitle">{{ include.project.subtitle }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</article>