{% assign c = "c-blog-card" %}
<div class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}-inner">

    {% if include.post.image %}
    <div class="{{c}}-image-wrap">
      <a class="{{c}}-image" href="{{ include.post.url }}">
        <img loading="lazy" src="{{ include.post.image }}" alt="{{ include.post.title }}">
      </a>
    </div>
    {% endif %}

    <div class="{{c}}-content">

      {% if include.post.tags.size >= 1 %}
      <div class="{{c}}-tags-box">
        {% for tag in include.post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | downcase }}" class="{{c}}-tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}

      <h2 class="{{c}}-title">
        <a href="{{ include.post.url }}">{{ include.post.title }}</a>
      </h2>

      <p class="{{c}}-excerpt">
        {% if include.post.description %}{{ include.post.description }}{% else %}{{ include.post.content | strip_html | truncate: 120 }}{% endif
        %}
      </p>

      <div class="{{c}}-meta">
        <div class="{{c}}-author-image">
          <img loading="lazy" src="{{ site.data.author.author_image }}" alt="{{ site.data.author.author_name }}">
        </div>
        <div class="{{c}}-info">
          <div class="{{c}}-author-name">{{ site.data.author.author_name }}</div>
          <span class="{{c}}-date"><time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date_to_string
              }}</time></span>
        </div>
      </div>

    </div>
  </div>
</div>